/* .interest-button {
  background-color: #06c149;
  border-radius: 10vh;
  max-width: 17vh;
  min-width: 5vh;
  color: white;
  border: 1px solid #06c149;
} */

/* .BtnNavigate {
  background-color: #06c149;
  border-radius: 10vh;
  max-width: 17vh;
  min-width: 5vh;
  color: white;
  border: 1px solid #06c149;
} */
